div,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  position: relative;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

a {
  color: inherit;
}
.spdr-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid currentColor;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.spdr-backgrounds-area {
  background-image: url("img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spdr-backgrounds-area:before {
  content: "";
  display: block;
  background-color: rgba(64, 64, 64, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.spdr-backgrounds-area:after {
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 242px;
}
.spdr-main {
  position: relative;
}
.spdr-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.spdr-logo {
  height: 30px;
  margin: 4px 0 0 7px;
}

.spdr-topnav {
  color: white;
  font-size: 13px;
}
.spdr-topnav-item {
  font-size: 12px;
  margin: 0 10px;
  text-decoration: none;
}

.spdr-welcome-area {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: 200;
  line-height: 56px;
  margin: 23px auto 0;
  text-align: center;
}

.spdr-search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  margin: 35px auto 0;
}
.spdr-search-input {
  display: block;
  padding: 10px;
  -webkit-appearance: none;
  -ms-flex: 1 1 100%;
  -webkit-box-flex: 1;
  background: #fff none;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  flex: 1 1 100%;
  font-size: inherit;
}
.spdr-search-btn {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#ddd)
  );
  background-image: -webkit-linear-gradient(#fff, #ddd);
  background-image: -o-linear-gradient(#fff, #ddd);
  background-image: linear-gradient(#fff, #ddd);
  border: 1px solid #ced4da;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1;
  padding: 0 10px;
}

.spdr-browse-prospect {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 77px auto 0;
  max-width: 768px;
}
.spdr-lists-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 35px auto 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.spdr-lists-a {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #b62125;
  min-width: calc(25% - 2px);
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  padding: 0;
}
.spdr-lists-a-on {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cb2a2f),
    to(#a61a1d)
  );
  background-image: -webkit-linear-gradient(top, #cb2a2f 0%, #a61a1d 100%);
  background-image: -o-linear-gradient(top, #cb2a2f 0%, #a61a1d 100%);
  background-image: linear-gradient(to bottom, #cb2a2f 0%, #a61a1d 100%);
  border-color: #a61a1d;
  color: white;
  padding: 1px;
}

.spdr-lists-a:first-child {
  margin-left: 0;
}
.spdr-cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 20px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 150px;
}
.spdr-cards-item {
  width: 180px;
  border: 1px solid #b1b2b4;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 15px 30px;
}
.spdr-cards-item-row1 {
  color: #b62125;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin: 16px 16px 12px;
  overflow: hidden;
  height: 47px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.spdr-cards-item-row2 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 12px 10px 16px;
}
.spdr-cards-item-row2 strong {
  font-size: 22px;
}
.spdr-cards-item-row3 {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 15px 10px 29px;
}
.spdr-cards-item-row4 {
  background-color: #b62125;
  border-radius: 0 0 5px 5px;
  font-size: 0;
  line-height: 1;
  text-align: right;
  margin: 0 -1px -1px -1px;
  padding: 0 11px;
}
.spdr-cards-item-row4 .static-list-actions {
  display: inline-block;
  position: relative;
}
.spdr-cards-item-row4 .dropdown-toggle {
  display: inline-block;
  padding: 12px;
}
.spdr-cards-item-row4 .dropdown-menu {
  font-size: initial;
  text-align: left;
  margin-top: -6px;
}

.spdr-cards-item-hr {
  border: 0 none;
  background-color: #979797;
  height: 1px;
  margin: 0 7px;
}

.spdr-createnewlist-area {
  margin: 45px 20px 20px;
}
.spdr-createnewlist-btn {
  -webkit-appearance: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: white none;
  border: 0 none;
  color: #ab3431;
}
